*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat';
}
/*Utility*/
.d-flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.flex-c{
    display: flex;
    flex-direction: column;
/**/

}
header{
    width: 200px;
    height: calc(100vh - 80px);
    background-color: black;
    justify-content: space-between;
}

.logo>img:first-child{
    display: none;
}
.logo>img{
    width: 150px;
    padding: 1rem 1rem;
}
i{
    color: white;
}

.container-sub>nav>ul{
    list-style-type: none;
}
header>nav>ul>li{
    line-height: 1.5rem;
}
nav{
    margin: .5rem 1rem;
    line-height: 1.5rem;
}
nav>ul>li>img{
    width: 20px;
}
nav>ul>li>i,a:hover{
    color: white;
}
nav>li>a:first-child{
    color: white;
}

.playlist>ul{
    margin-top: .5rem;
    list-style-type: none;
}
.playlist>ul>li{
    text-decoration: none;
    color: white;
    line-height: 1.4rem;
    color: #65676c;
}
.playlist{
    margin: 1rem 1rem;
}
.playlist>h3:hover{
    color: white;
}
.playlist>ul>li:hover{
    color: white;
}
.playlist>h3:first-child{
    color: white;
}

.playlist>h3{
    color: #65676c;
}

.playlist>h3>i{
    border: solid 1px white;
    background-color: black;
    padding: .5rem .5rem;
    color: white;
    margin-top: 1rem;
}
.utente{
    color: white;
    margin: 0 1rem;
}
.installed{
    margin-bottom: 1rem;
    border-bottom: solid 1px white;
    padding-bottom: .5rem;

}
.row-profile>img{
    width: 25px;
    background-color: gray;
    border-radius: 100%;    
}
.row-profile>p{
    vertical-align:middle;
}
.row-profile{
    display: flex;
    margin-bottom: .5rem;
}

main{
    width: calc(100% - 200px);
    height: calc(100vh - 80px);
    background-color: #141922;
    overflow-y: scroll; 
}
.header-main{
    width: 100%;
    height: 60px;
    background-color: #080b12;
    justify-content: flex-end;
    align-items: center;
}

.header-main>button:hover{
    height: 70%;
}
.header-main>button>a{
    color: white;
}
.header-main>button{
    background-color: #080b12;
    margin-right: 1rem;
    border-radius: 2rem;
    border: solid 1px white;
    padding: .5rem 1rem;   
}

.nav-main{ 
  width: 100%;
  height: 50px;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.nav-main>ul{
    text-decoration: none;
}
.nav-main>ul>li{
    display: inline-block;
    margin-left: 1rem;
    color: white;
}
.nav-main>ul>li>a:hover{
    color: white;
}

a{
    text-decoration: none;
    color: #65676c;
}
.title{
    width: 100%;
    color: white;
    margin: 2rem 1rem;
}
article{
    margin-top: 1rem;
    color: white;
}
article>p{
    color: #65676c;
}

.container-square{
    width: calc(100% -230px);
    flex-wrap: wrap; 
}

.card{
    width: calc((100% / 6) - 30px );
    margin: 0 15px;
}
.radius>img{
    border-radius: 50%;
}
.square{
    width: 100%;
}

article{
    text-align: center;
}
.square>img{
    width: 100%;
}
footer{
    width: 100%;
    height: 80px;
    background-color: grey;
}

@media screen and (max-width: 992px){
    .nav-main{
        margin-top: 2rem;
        width: 100%;
        line-height: 2rem;
    }
    
    .card{
        width: calc((100%/ 4) - 30px);
        margin: 0 15px;
    }
    
}
@media screen and (max-width: 768px) {
    .nav-main{
        margin-top: 2rem;
        width: 100%;
        line-height: 2rem;
    }

    main{
        width: calc(100% - 200px);
    }
   
    .card{
        width: calc((100%/2) - 30px);
        margin: 0 15px;
    }
    
}
    @media screen and (max-width: 576px) {
        .logo>img:first-child{
            display: inline;
            width: 100%;   
        }
        nav{
            display: inline;
            text-align: center;
            width: 100%;
        }
        nav a{
            display: none;
        }

        .logo>img:last-child{
            display: none;
        }
        .nav-main{
            margin-top: 2rem;
            width: 100%;
            line-height: 2rem;
        }
        .playlist>ul>li>a,h3{
            display: none;
        }
        .playlist>ul>li,h3{
            display: none;
        }
        .installed>p{
            display: none;
        }
        .row-profile>p{
            display: none;
        }
        .container-sub{
            width: 100%;
        }

        .container-foot{
            width: 100%;
        }
        
        .installed>i{
            display: inline;
            width: 100%;
        }
        .installed{
            width: 100%;
            text-align: center;
            border-bottom: none;
        }
       
        main{
            width: calc(100% - 50px);
        }
        header{
            width:50px;
        }
        .card{
            width:calc((100%/2) - 30px);
            margin: 0 15px;
        }

    }