*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Utility*/
.d-flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.flex-c{
    display: flex;
    flex-direction: column;
/**/

}
header{
    width: 230px;
    height: calc(100vh - 80px);
    background-color: black;
}
li{
    color: white;
}
nav>ul{
    text-decoration: none;
}
nav{
    margin: 1rem 2rem;
}
header>img{
    width: 150px;
    padding: 1rem 1rem;
}
.play>ul>li{
    color: white;
    line-height: 2rem;
}
.play{
    margin: 1rem 2rem;
}
.play>h3{
    color: white;
}
.play>h3>i{
    border: solid 1px white;
    padding: .5rem .5rem;
    background: white;
    color: black;
    margin-top: 1rem;
}
.play>ul{
    margin-top: 1rem;
    text-decoration: none;
}

main{
    width: calc(100% - 230px);
    height: calc(100vh - 80px);
    background-color: #141922;
    overflow-y: scroll; 
}
.header-main{
    width: 100%;
    height: 50px;
    background-color: black;
    justify-content: flex-end;
    align-items: center;
    
}

.header-main>a{
    height: 30px;
    border-radius: 2rem;
    border: solid 1px white;
    padding: .5rem 1rem;
    align-items: center;
    
}

.nav-main{ 
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
}
ul{
    text-decoration: none;
}
.nav-main>ul>li{
    display: inline-block;
    margin-left: 1rem;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.title{
    width: 100%;
    color: white;
    margin: 2rem 1rem;
}
article{
    color: white;
}

.container-square{
    width: calc(100% -230px);
    flex-wrap: wrap; 
}

.card{
    width: calc((100% / 6) - 30px );
    margin: 0 15px;
}
.radius>img{
    border-radius: 50%;
}
.square{
    width: 100%;
}

article{
    text-align: center;
}
.square>img{
    width: 100%;
}
footer{
    width: 100%;
    height: 80px;
    background-color: grey;
}

@media screen and (max-width: 992px){
    
    .card{
        width: calc((100%/ 4) - 30px);
        margin: 0 15px;
    }
    
}
@media screen and (max-width: 768px) {
    .nav-main{
        width: 100%;
    }
    main{
        width: calc(100% - 230px);
    }
   
    .card{
        width: calc((100%/2) - 30px);
        margin: 0 15px;
    }
    
}
    @media screen and (max-width: 576px) {
        main{
            width: calc(100% - 50px);
        }
        header{
            width: 50px;
        }
        .card{
            width:calc((100%/2) - 30px);
            margin: 0 15px;
        }

    }